input {
    padding: 10px;
    margin-bottom: 1px;
    border-radius: 6px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.defe {
    padding: 10px;
    margin-bottom: 1px;
    border-radius: 6px;
    width: -webkit-fill-available;
}
.btnEnviar {
    margin-top: 10px;
    margin-bottom:20px;
    cursor: pointer;
    
  
  }
.btnEnviar:active{
    opacity: 0.5;
}
.btnEnviar:hover{
    background-color: rgb(214, 153, 60);
   
}